//コンテンツ最大幅
$max-width: 1280px;
//レスポンシブ用
$retina: 'min-width: 2560px';
$desktop_lg: 'min-width: 1440px';
$desktop_sm: 'min-width: 1280px';
$laptop: 'min-width: 1024px';
$tab_lg: 'min-width: 768px';
$tab_sm: 'min-width: 600px';
$sp_lg: 'min-width: 375px';


