$bg: #FCF9F7;



$orangegray: #f9f1ea;
$darkgray: #808080;
$primary: #d8902f;
$primary-light: #eae05e;
$primary-dark: #006c93;
$secondary: #c61f4c;
$tri: #d2e0aa;


$bg-black: #212121;
$bg-red: #DC0215;
$bg-gray: #F2F2F2;
$gray: #464646;
$white: #ffffff;
$black: #464646;
$black-vivid: #1A1A1A;
$red: #DC0215;
$red-vivid: #DC0215;
$blue: #BDCADB;
$blue-strong: #0D85C7;

$tag-purple: #BB73B3;

$cover: rgba(#081941, 0.3);   