@media (min-width: 375px) and (max-width: 414px){
  .future-tap-1 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 7vh !important;
  left: 20vh !important;
}  
.future-tap-1 .future-title{
  position:absolute;
  top: 13vh !important;
  left: 25vh !important;
  z-index: 11;
  color: #ffffff;
}
.future-tap-2 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 12vh !important;
  left: 35vh !important;
}  
.future-tap-2 .future-title{
  position:absolute;
  top: 17vh !important;
  left: 39vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-3 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 26vh !important;
  left: 41vh !important;
}  
.future-tap-3 .future-title{
  position:absolute;
  top: 31vh !important;
  left: 46vh !important;
  z-index: 11;
  color: #ffffff;
}
.sec1-smxs3 {
  top: 160px !important;
  width: 220px !important;
  left: 25% !important;
}

.future-tap-4 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 41vh !important;
  left: 36vh !important;
}  
.future-tap-4 .future-title{
  position:absolute;
  top: 46vh !important;
  left: 41vh !important;
  z-index: 11;
  color: #ffffff;
}
.sec1-smxs4 {
  top: 250px !important;
  width: 220px !important;
  left: 25% !important;
}

.future-tap-5 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 42vh !important;
  left: 5vh !important;
}  
.future-tap-5 .future-title{
  position:absolute;
  top: 47vh !important;
  left: 10vh !important;
  z-index: 11;
  color: #ffffff;
}
.sec1-smxs5 {
  top: 250px !important;
  width: 220px !important;
  left: 25% !important;
}

.future-tap-6 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 26vh !important;
  left: -1vh !important;
}  
.future-tap-6 .future-title{
  position:absolute;
  top: 32vh !important;
  left: 4vh !important;
  z-index: 11;
  color: #ffffff;
}
.sec1-smxs6 {
  top: 200px !important;
  width: 220px !important;
  left: 20% !important;
}

.future-tap-7 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 12vh !important;
  left: 5vh !important;
}  
.future-tap-7 .future-title{
  position:absolute;
  top: 17vh !important;
  left: 10vh !important;
  z-index: 11;
  color: #ffffff;
}
.sec1-smxs7 {
  top: 20px !important;
  width: 220px !important;
  left: 22% !important;
}

}

@media (min-width: 360px) and (max-width: 410px){
  .future-tap-1 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 6vh !important;
  left: 17vh !important;
}  
.future-tap-1 .future-title{
  position:absolute;
  top: 10vh !important;
  left: 21vh !important;
  z-index: 11;
  color: #ffffff;
}
.future-tap-2 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 10vh !important;
  left: 29vh !important;
}  
.future-tap-2 .future-title{
  position:absolute;
  top: 14vh !important;
  left: 32vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-3 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 22vh !important;
  left: 33vh !important;
}  
.future-tap-3 .future-title{
  position:absolute;
  top: 26vh !important;
  left: 37vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-4 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 34vh !important;
  left: 30vh !important;
}  
.future-tap-4 .future-title{
  position:absolute;
  top: 38vh !important;
  left: 34vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-5 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 34vh !important;
  left: 4vh !important;
}  
.future-tap-5 .future-title{
  position:absolute;
  top: 38vh !important;
  left: 8vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-6 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 22vh !important;
  left: -1vh !important;
}  
.future-tap-6 .future-title{
  position:absolute;
  top: 26vh !important;
  left: 3vh !important;
  z-index: 11;
  color: #ffffff;
}
.future-tap-7 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 10vh !important;
  left: 4vh !important;
}  
.future-tap-7 .future-title{
  position:absolute;
  top: 14vh !important;
  left: 8vh !important;
  z-index: 11;
  color: #ffffff;
}
  .section1 .img-box img{
    width: 100% !important;
    margin-top: 0% !important;
  }
   .sec1-smxs1 .down-icon {
    top: 88px !important;
  }
  .sec1-smxs2 .down-icon{
    top: 70px !important;
  }
  .sec1-smxs1{
    top: -8% !important;
    width: 220px !important;
    left: 18% !important;
    z-index: 100;
  }
  .sec1-smxs2 {
    top: 60px !important;
    width: 220px !important;
    left: 10% !important;
  }
  .sec1-smxs3 {
    top: 150px !important;
    width: 220px !important;
    left: 20% !important;
  }
  .sec1-smxs4 {
    top: 230px !important;
    width: 220px !important;
    left: 13% !important;
  }
  .sec1-smxs5 {
    top: 230px !important;
    width: 220px !important;
    left: 22% !important;
  }
  .sec1-smxs6 {
    top: 150px !important;
    width: 220px !important;
    left: 18% !important;
  }
  .sec1-smxs7 {
    top: 10px !important;
    width: 220px !important;
    left: 23% !important;
  }
  .show-smxs p{
    font-size: 0.8rem !important
  }
}

/*Iphone 6,7,8*/
@media screen and (max-width: 667px){
  .future-tap-1 img{
    width:25%;
    position:absolute;
    z-index: 10;
    top: 7vh !important;
    left: 21vh !important;
  }
  .future-tap-1 .future-title{
    position:absolute;
    top: 12vh !important;
    left: 26vh !important;
    z-index: 11;
    color: #ffffff;
  }

.future-tap-2 img{
    width:25%;
    position:absolute;
    z-index: 10;
    top: 12vh !important;
    left: 37vh !important;
  }
  .future-tap-2 .future-title{
    position:absolute;
    top: 17vh !important;
    left: 42vh !important;
    z-index: 11;
    color: #ffffff;
  }

 
 .future-tap-3 img{
    width:27%;
    position:absolute;
    z-index: 10;
    top: 28vh !important;
    left: 42vh !important;
  }
  .future-tap-3 .future-title{
    position:absolute;
    top: 34vh !important;
    left: 48vh !important;
    z-index: 11;
    color: #ffffff;
  }
  .sec1-smxs3 {
    top: 140px !important;
    width: 220px !important;
    left: 21% !important;
  }


.future-tap-4 img{
    width:25%;
    position:absolute;
    z-index: 10;
    top: 43vh !important;
    left: 38vh !important;
  }
  .future-tap-4 .future-title{
    position:absolute;
    top: 48vh !important;
    left: 43vh !important;
    z-index: 11;
    color: #ffffff;
  }
  .sec1-smxs4 {
    top: 220px !important;
    width: 220px !important;
    left: 17% !important;
  }


.future-tap-5 img{
    width:25%;
    position:absolute;
    z-index: 10;
    top: 44vh !important;
    left: 5vh !important;
  }
  .future-tap-5 .future-title{
    position:absolute;
    top: 49vh !important;
    left: 10vh !important;
    z-index: 11;
    color: #ffffff;
  }
  .sec1-smxs5 {
    top: 220px !important;
    width: 220px !important;
    left: 25% !important;
  }


  .future-tap-6 img{
    width:25%;
    position:absolute;
    z-index: 10;
    top: 28vh !important;
    left: -1vh !important;
  }
  .future-tap-6 .future-title{
    position:absolute;
    top: 34vh !important;
    left: 4vh !important;
    z-index: 11;
    color: #ffffff;
  }
  .sec1-smxs6 {
    top: 130px !important;
    width: 220px !important;
    left: 16% !important;
  }


.future-tap-7 img{
    width:25%;
    position:absolute;
    z-index: 10;
    top: 12vh !important;
    left: 5vh !important;
  }
  .future-tap-7 .future-title{
    position:absolute;
    top: 17vh !important;
    left: 10vh !important;
    z-index: 11;
    color: #ffffff;
  }
  .sec1-smxs7 {
    top: 20px !important;
    width: 220px !important;
    left: 24% !important;
  }
}
/*Iphone 6,7,8 PLUs*/
@media (min-width: 411px) and (max-width: 463px){
  /*add messagebox*/
.future-tap-1 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 7vh !important;
  left: 20vh !important;
}  
.future-tap-1 .future-title{
  position:absolute;
  top: 13vh !important;
  left: 25vh !important;
  z-index: 11;
  color: #ffffff;
}
.future-tap-2 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 12vh !important;
  left: 35vh !important;
}  
.future-tap-2 .future-title{
  position:absolute;
  top: 17vh !important;
  left: 39vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-3 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 26vh !important;
  left: 41vh !important;
}  
.future-tap-3 .future-title{
  position:absolute;
  top: 31vh !important;
  left: 46vh !important;
  z-index: 11;
  color: #ffffff;
}
.sec1-smxs3 {
  top: 160px !important;
  width: 220px !important;
  left: 25% !important;
}

.future-tap-4 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 41vh !important;
  left: 36vh !important;
}  
.future-tap-4 .future-title{
  position:absolute;
  top: 46vh !important;
  left: 41vh !important;
  z-index: 11;
  color: #ffffff;
}
.sec1-smxs4 {
  top: 250px !important;
  width: 220px !important;
  left: 25% !important;
}

.future-tap-5 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 42vh !important;
  left: 5vh !important;
}  
.future-tap-5 .future-title{
  position:absolute;
  top: 47vh !important;
  left: 10vh !important;
  z-index: 11;
  color: #ffffff;
}
.sec1-smxs5 {
  top: 250px !important;
  width: 220px !important;
  left: 25% !important;
}

.future-tap-6 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 26vh !important;
  left: -1vh !important;
}  
.future-tap-6 .future-title{
  position:absolute;
  top: 32vh !important;
  left: 4vh !important;
  z-index: 11;
  color: #ffffff;
}
.sec1-smxs6 {
  top: 200px !important;
  width: 220px !important;
  left: 20% !important;
}

.future-tap-7 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 12vh !important;
  left: 5vh !important;
}  
.future-tap-7 .future-title{
  position:absolute;
  top: 17vh !important;
  left: 10vh !important;
  z-index: 11;
  color: #ffffff;
}



.sec1-smxs7 {
  top: 20px !important;
  width: 220px !important;
  left: 22% !important;
}
  .section1 .img-box img{
    width: 100% !important;
    margin-top: 0% !important;
  }
   .sec1-smxs1 .down-icon {
    top: 88px !important;
  }
  .sec1-smxs2 .down-icon{
    top: 70px !important;
  }
  .sec1-smxs1{
    width: 220px !important;
    left: 20% !important;
    top: -3% !important;
  }
  .sec1-smxs2 {
    top: 70px !important;
    width: 220px !important;
    left: 13% !important;
  }
  .show-smxs p{
    font-size: 0.8rem !important
  }
}
@media (min-width: 464px) and (max-width: 465px){

  .sec1-smxs1 .down-icon {
    top: 135px !important;
  }
  .sec1-smxs2 .down-icon{
    top: 110px !important;
  }
  .sec1-smxs2 {
    top: 95px !important;
  }
  .section1 .img-box img{
    width: 80% !important;
    margin-top: -8% !important;
  }
  .sec1-smxs2{
    left: 40% !important;
  }
}
@media (min-width: 466px) and (max-width: 513px){
  .sec1-smxs1 .down-icon {
    top: 137px !important;
  }
  .sec1-smxs2 .down-icon{
    top: 86px !important;
  }
  .sec1-smxs2 {
    top: 95px !important;
  }
}
@media (min-width: 514px) and (max-width: 767px){
  .sec1-smxs1 .down-icon{
    top: 110px !important;
    left: 48%;
  }
  .sec1-smxs2{
    top: 107px !important;
  }
  .sec1-smxs1 .down-icon{
    top: 110px;
  }
  .sec1-smxs2 .down-icon{
    top: 86px !important;
  }
}
@media screen and (max-width: 360px){
  
  .page-title h2{
    font-size: 1.5rem;
  }
  .page-title p{
    font-size: 0.9rem;
  }
  .section1 h2 hr,.section2 h2 hr,.section5 h2 hr {
    left: 30% !important;
  }
  .section5-item h4,
  .right-item{
    font-size: 0.8rem !important;
  }
  .section2-item h4{
    font-size: 1rem !important;
  }
  .pdbox{
    padding: 0px 10px 10px 10px;
  }
  .colorbox{
    width: 60px !important;
    font-size: 0.8rem;
  }
  .section3 h2 hr{
    left: 30% !important;
  }
}

@media screen and (max-width: 767px){
  .page-title {
    padding: 100px 0 50px 0;
  }
  .page-title h2{
    font-size: 1.8rem;
  }
  .page-title h2 strong{
    font-size: 3rem;
  }
  .top_company{
    padding: 67px 0 50px 0 !important;
  }
  .footer-bt img{
    width: 30%;
  }
  .footer-bt ul{
    margin-top: 10px;
  }
  .page-title{
    position: relative;
  }
  .page-title .language{
    top: 70px;
  }
  .page-title .language img{
    width: 70px;
  }
  .wrapper{
    padding: 0px 10px;
  }
  .section1 h2 hr,.section2 h2 hr,.section5 h2 hr {
    left: 38%;
  }
  .section1 h2,.section2 h2,.section3 h2,.section4 h2,.section5 h2{
    font-size: 2.6rem;
  }
  .section5-item h4, .section2-item h4{
    font-size: 1.3rem;
  }
  .colorbox{
    width: 110px;
  }
  .section2-item{
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .section1 .img-box img{
    width: 100%
  }
  .section1 .img-box{
    /*margin-top: -8%;*/
  }
  .show-smxs p{
    font-size: 1.2rem;
  }
  .wrapper{
    padding: 0px;
  }
  .section4{
    margin-top: -80px !important;
  }
  .section3 h2 hr{
    left: 35% !important;
    margin-top: 20px !important;
  }
  .section3 p{
    text-align: left;
  }
  .servlist img{
    padding: 10px;
  }
  .d-arrow{
    margin-top: 140px;
  }
  .section4{
    font-size: 9px;
  }
  .section3 .page-title{
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  /*add messagebox*/
.future-tap-1 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 6vh !important;
  left: 17vh !important;
}  
.future-tap-1 .future-title{
  position:absolute;
  top: 10vh !important;
  left: 21vh !important;
  z-index: 11;
  color: #ffffff;
}
.future-tap-2 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 11vh !important;
  left: 29vh !important;
}  
.future-tap-2 .future-title{
  position:absolute;
  top: 15vh !important;
  left: 32vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-3 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 22vh !important;
  left: 33vh !important;
}  
.future-tap-3 .future-title{
  position:absolute;
  top: 26vh !important;
  left: 37vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-4 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 34vh !important;
  left: 30vh !important;
}  
.future-tap-4 .future-title{
  position:absolute;
  top: 38vh !important;
  left: 34vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-5 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 34vh !important;
  left: 4vh !important;
}  
.future-tap-5 .future-title{
  position:absolute;
  top: 38vh !important;
  left: 8vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-6 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 22vh !important;
  left: -1vh !important;
}  
.future-tap-6 .future-title{
  position:absolute;
  top: 26vh !important;
  left: 3vh !important;
  z-index: 11;
  color: #ffffff;
}
.future-tap-7 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 10vh !important;
  left: 4vh !important;
}  
.future-tap-7 .future-title{
  position:absolute;
  top: 14vh !important;
  left: 8vh !important;
  z-index: 11;
  color: #ffffff;
}
  /*end*/
  .colorbox{
    width: 110px;
  }
  .section5-item h4, .section2-item h4{
    font-size: 1.4rem;
  }
  .section1 h2 hr,.section2 h2 hr,.section5 h2 hr {
    left: 41%;
  }
  .section1 h2, .section2 h2, .section3 h2, .section4 h2, .section5 h2{
    font-size: 3.2rem;
  }
  .section1 .img-box{
    /*margin-top: -8%;*/
  }
  .section4 {
    position: relative !important;
    margin-top: -160px !important;
    margin-bottom: -200px !important;
  }
  .servlist p{
    font-size: 10px;
  }
  .d-arrow{
    margin-top: 110px !important;
  }
  .section3 .page-title{
    margin-top: 0px;
  }
  .sec1-smxs1 .down-icon{
    top: 123px;
  }
  .sec1-smxs2 .down-icon{
    top: 95px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1239px){
  .colorbox{
    width: 110px;
  }
  .section5-item h4, .section2-item h4{
    font-size: 1.4rem;
  }
  .section1 h2 hr,.section2 h2 hr,.section5 h2 hr {
    left: 43%;
  }
  .sec1 p,.section1 .note{
    font-size: 1.1rem;
  }
  .section1 .img-box img{
    width: 45%;
  }
  .txt-box1{
    top: 8%;
    left: 38%;
  }
  .txt-box2{
    top: 30%;
    left: 3%;
  }
  .txt-box3{
    top: 30%;
    right: 3%;
  }
  .txt-box4{
    top: 54%;
    left: 0%;
  }
  .txt-box5{
    top: 54%;
    right: 0%;
  }
  .txt-box6{
    top: 75%;
    left: 3%;
  }
  .txt-box7{
    top: 75%;
    right: 3%;
  }
}
@media screen and (max-width: 991px){

  .show-lgmd{
    display: none !important;
  }
  .show-smxs{
    display: block;
  }
  .section1 .img-box img{
    width: 70%;
  }
  .sec1-smxs1,.sec1-smxs2, .sec1-smxs3,.sec1-smxs4,.sec1-smxs5, .sec1-smxs6, .sec1-smxs7{
    background-color: #ffffff;
    width: 50%;
    padding: 20px;
    display: inline-block;
    position: absolute;
    z-index: 12;
    border-radius: 10px;
  }
  .sec1-smxs1{
    left: 24%;
    top: 50px;
  }
  .sec1-smxs2{
    left: 35%;
    top: 138px;
  }
  .sec1-smxs1 .down-icon,.sec1-smxs2 .down-icon{
    background-image: url(/assets/images/dropdown-icon.png);
    position: absolute;
    width: 50px;
    height: 50px;
  }
  .sec1-smxs1 .down-icon{
    left: 48%;
  }
  .sec1-smxs2 .down-icon{
    left: 80%;
  }
}
@media screen and (min-width: 992px){
  .page-title .language{
    display: none;
  }
  .show-lgmd{
    display: block !important;
  }
  .show-smxs{
    display: none;
  }
}

.page-title .banner-txt1{
  color: #ffffff;
}
.section3{
  text-align: center;
}
.section3 h2 hr{
    width: 110px;
    border-top: 0px;
    border-bottom: 2px solid #ffffff;
    margin: 0 auto;
}
.section4{
  position: relative;
  margin-top: -120px;
  margin-bottom: -270px;

}
.service-sect{
  max-width: 100%;
  background: #ffffff;
  border-radius: 7px;
  display: inline-block;
}
.servlist{
  width: 19.9998%;
  border-right: 1px solid #f1f1f1;
  float: left;
}
.servlist:last-child {
  border-right: none;
}
.servlist img{
  padding: 30px 15px 15px 15px;
  margin: 0 auto;
}
.servlist p{
  color: #30b5f1;
  font-weight: 600;
  text-align: center;
  padding: 0px 15px 30px 15px;
}
.section4-sub{
  background: -moz-linear-gradient(to right, rgba(60,188,184,1) 0%, rgba(2,138,206,1) 100%);
  background: -webkit-linear-gradient(to right, rgba(60,188,184,1) 0%, rgba(2,138,206,1) 100%);
  background: -o-linear-gradient(to right, rgba(60,188,184,1) 0%, rgba(2,138,206,1) 100%);
  background: -ms-linear-gradient(to right, rgba(60,188,184,1) 0%, rgba(2,138,206,1) 100%);
  background: linear-gradient(to right, rgba(60,188,184,1) 0%, rgba(2,138,206,1) 100%);
}
.d-arrow{
  background: url(/assets/images/triangle_function.png) no-repeat center;
  margin-top: 180px;
  text-align: center;
  width:100%;
  font-weight: 700;
  color: #ffffff;
  padding-top: 30px;
  font-size: 22px;
}
.icon-funct img{
  width: 35%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.opacity_1{
  opacity: visible;
}
.opacity_0{
  visibility: hidden;
}
.grey{
  color:#777777;
  font-size: 10px;

}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .future-tap-1 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 6vh !important;
  left: 17vh !important;
}  
.future-tap-1 .future-title{
  position:absolute;
  top: 10vh !important;
  left: 21vh !important;
  z-index: 11;
  color: #ffffff;
}
.future-tap-2 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 11vh !important;
  left: 29vh !important;
}  
.future-tap-2 .future-title{
  position:absolute;
  top: 15vh !important;
  left: 32vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-3 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 22vh !important;
  left: 33vh !important;
}  
.future-tap-3 .future-title{
  position:absolute;
  top: 26vh !important;
  left: 37vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-4 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 34vh !important;
  left: 30vh !important;
}  
.future-tap-4 .future-title{
  position:absolute;
  top: 38vh !important;
  left: 34vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-5 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 34vh !important;
  left: 4vh !important;
}  
.future-tap-5 .future-title{
  position:absolute;
  top: 38vh !important;
  left: 8vh !important;
  z-index: 11;
  color: #ffffff;
}

.future-tap-6 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 22vh !important;
  left: -1vh !important;
}  
.future-tap-6 .future-title{
  position:absolute;
  top: 26vh !important;
  left: 3vh !important;
  z-index: 11;
  color: #ffffff;
}
.future-tap-7 img{
  width:25%;
  position:absolute;
  z-index: 10;
  top: 10vh !important;
  left: 4vh !important;
}  
.future-tap-7 .future-title{
  position:absolute;
  top: 14vh !important;
  left: 8vh !important;
  z-index: 11;
  color: #ffffff;
}

}
